body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #434341;
    color: white;
    text-align: center;
    padding: 1.5em 0;
}

header .container h1 {
    margin: 0;
}

nav ul {
    background: #333;
    color: #fff;
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0;
}

nav ul li a {
    color: white;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #434341;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #434341;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px 0;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

form button {
    background: #434341;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #434341;
}
